@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<p> Họ và tên: Phạm Ngọc Ánh </p> <p> Mã sv: 12304562 <b>Email: Anh@gmail.com</b> </p>
<p> Học Phần: <b> Lập trình web
</b></p>
